/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



.Container {
  width: 100%;
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}



.Modal3Content {
  width: 400px;
  background-color: #fff;
  transition: right 0.3s ease-in-out;
  border-radius: 5px;
}

.skeleton-card {
    width: 100%;
    height: 85vh;
    border-radius: 24px;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);

    position: relative;
    overflow: hidden;

    /* анимация прозрачности */
    animation: skeletonPulse 2.6s ease-in-out infinite;
}

/* shimmer (если нужен — можно оставить или убрать) */
.skeleton-card::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        110deg,
        transparent 35%,
        rgba(255, 255, 255, 0.45) 50%,
        transparent 65%
    );

    transform: translateX(-100%);
    animation: shimmer 2s infinite;
}

/* анимации */
@keyframes skeletonPulse {
    0% {
        opacity: 0.75;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.75;
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}






/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 0px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.Category__Wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  z-index: 4;
  gap: 50px;
}

.Menu__Wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  z-index: 4;
  gap: 30px;
  padding: 18px 0px !important;
}
